Display top ten -married customers and single customers - by income with medsize vehicle size with total claim amount is greater than $200 with less than two policies.

In [7]:
import pandas as pd

In [13]:
#read the dataset
df = pd.read_csv('C:\\Documents\\Inernship Problem\\Round1_Problem2-of-3_Dataset.csv',index_col=0)
df.head(5)

,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,Location Code,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
Customer,,,,,,,,,,,,,,,,,,,,,
BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274.0,Suburban,...,5.0,0.0,1.0,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0.0,Suburban,...,42.0,0.0,8.0,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767.0,Suburban,...,38.0,0.0,2.0,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0.0,Suburban,...,65.0,0.0,7.0,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
HB64268,Washington,2813.692575,No,Basic,Bachelor,02/03/11,Employed,M,43836.0,Rural,...,44.0,0.0,1.0,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [9]:
# drop those colums which are not neccessary
df.drop(['State','Customer Lifetime Value','Response','Coverage','Education', 'Effective To Date', 'EmploymentStatus','Gender','Location Code','Monthly Premium Auto', 'Months Since Last Claim', 'Months Since Policy Inception','Number of Open Complaints', 'Policy Type','Policy','Renew Offer Type', 'Sales Channel', 'Vehicle Class'],axis=1,inplace=True)

In [10]:
df.head(50)

,Income,Marital Status,Number of Policies,Total Claim Amount,Vehicle Size
Customer,,,,,
BU79786,56274.0,Married,1.0,384.811147,Medsize
QZ44356,0.0,Single,8.0,1131.464935,Medsize
AI49188,48767.0,Married,2.0,566.472247,Medsize
WW63253,0.0,Married,7.0,529.881344,Medsize
HB64268,43836.0,Single,1.0,138.130879,Medsize
OC83172,62902.0,Married,2.0,159.383042,Medsize
XZ87318,55350.0,Married,9.0,321.600000,Medsize
CF85061,0.0,Single,4.0,363.029680,Medsize
DY87989,14072.0,Divorced,2.0,511.200000,Medsize
BQ94931,28812.0,Married,8.0,425.527834,Medsize
SX51350,0.0,Single,3.0,482.400000,Small
VQ65197,0.0,Married,3.0,528.000000,Medsize
DP39365,77026.0,Married,3.0,472.029737,Medsize
SJ95423,99845.0,Married,8.0,528.000000,Medsize
IL66569,83689.0,Single,8.0,307.139132,Medsize
BW63560,24599.0,Married,2.0,42.920271,Medsize
FV94802,25049.0,Married,1.0,454.245098,Medsize
OE15005,28855.0,Married,1.0,647.442031,Medsize
WC83389,51148.0,Married,7.0,308.981664,Medsize
FL50705,66140.0,Married,3.0,484.800000,Small
ZK25313,57749.0,Single,1.0,355.200000,Medsize
SV62436,13789.0,Divorced,1.0,379.200000,Medsize
YH23384,14072.0,Divorced,2.0,511.200000,Medsize
TZ98966,0.0,Single,1.0,554.376763,Medsize
HM55802,17870.0,Married,1.0,439.200000,Medsize
FS42516,97541.0,Married,3.0,389.185006,Large
US89481,0.0,Single,1.0,799.200000,Small
HO30839,10511.0,Married,1.0,516.237951,Medsize
GE62437,86584.0,Single,2.0,532.800000,Large
EJ77678,75690.0,Married,1.0,384.000000,Small
SV85652,23158.0,Married,1.0,322.294043,Small
UL64533,65999.0,Married,6.0,615.927769,Medsize
PF41800,0.0,Married,3.0,308.150890,Medsize
AO98601,54500.0,Married,6.0,302.400000,Small
SK67821,37260.0,Married,8.0,15.437681,Medsize
YV55495,68987.0,Married,6.0,204.475147,Medsize
KY38074,42305.0,Married,2.0,561.600000,Small
DM79012,65706.0,Married,8.0,436.800000,Small
CM61827,0.0,Single,1.0,648.000000,Small
WC35801,53243.0,Divorced,1.0,157.397849,Medsize
QG25316,0.0,Married,1.0,484.318536,Medsize
MB98372,50071.0,Single,1.0,18.918935,Medsize
IL19217,60021.0,Married,1.0,882.871945,Small
SR38658,43244.0,Married,2.0,494.400000,Medsize
DH41343,92834.0,Married,1.0,292.800000,Large
HG65722,10105.0,Married,3.0,0.517753,Medsize
BU27331,0.0,Single,5.0,579.165954,Medsize
XM45289,23218.0,Single,4.0,447.793440,Medsize
KP34198,0.0,Married,1.0,529.624084,Medsize
SH90947,0.0,Married,1.0,313.023175,Medsize

In [11]:
#Logic
data = df.loc[(df['Marital Status'].isin(['Single','Married'])) & (df['Number of Policies'] < 2) 
& (df['Total Claim Amount'] > 200) & (df['Vehicle Size'] == 'Medsize')]
data.head(10)

,Income,Marital Status,Number of Policies,Total Claim Amount,Vehicle Size
Customer,,,,,
BU79786,56274.0,Married,1.0,384.811147,Medsize
FV94802,25049.0,Married,1.0,454.245098,Medsize
OE15005,28855.0,Married,1.0,647.442031,Medsize
ZK25313,57749.0,Single,1.0,355.200000,Medsize
TZ98966,0.0,Single,1.0,554.376763,Medsize
HM55802,17870.0,Married,1.0,439.200000,Medsize
HO30839,10511.0,Married,1.0,516.237951,Medsize
QG25316,0.0,Married,1.0,484.318536,Medsize
KP34198,0.0,Married,1.0,529.624084,Medsize
SH90947,0.0,Married,1.0,313.023175,Medsize